{% extends 'base.html' %}

{% block content %}

    <div class="heading">
        <h1 class="title">About Me</h1>
    </div>

    <div class="menu">
        <div class="about-start">
            <p>In 1945, Culinary Haven was created.</p>
            <p>It started with just three chefs, out of a caravan park.</p>
            <p>With only one waiter in mind, waiting on customers as needed.</p>
        </div>

        <div class="about-middle">
            <p>In the early stages, there was an average of about 15 tables per day.</p>
            <p>Today we have grown to a mighty restaurant serving up to 46 restaurants.</p>
            <p>And about 2500 customers on a daily basis.</p>
        </div>

        <div class="about-end">
            <p>This is the very beginning of Culinary Haven.</p>
            <p>Serving and keeping the local community well-fed.</p>
            <p>We will always keep our customers at the heart of everything that we do.</p>
            <p>Please feel free to pop in and give us a</p>
        </div>

    </div>
{% endblock content %}