{% extends 'base.html' %}

{% block content %}

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}

{#{% extends "account/base_entrance.html" %}#}
{#{% load i18n %}#}
{#{% load allauth account %}#}
{#{% block head_title %}#}
{#    {% trans "Sign In" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Sign In" %}#}
{#    {% endelement %}#}
{#    <p>#}
{#        {% blocktrans %}If you have not created an account yet, then please#}
{#            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}#}
{#    </p>#}
{#    {% url 'account_login' as login_url %}#}
{#    {% element form form=form method="post" action=login_url tags="entrance,login" %}#}
{#        {% slot body %}#}
{#            {% csrf_token %}#}
{#            {% element fields form=form unlabeled=True %}#}
{#            {% endelement %}#}
{#            {% if redirect_field_value %}#}
{#                <input type="hidden"#}
{#                       name="{{ redirect_field_name }}"#}
{#                       value="{{ redirect_field_value }}"/>#}
{#            {% endif %}#}
{#        {% endslot %}#}
{#        {% slot actions %}#}
{#            {% element button type="submit" tags="prominent,login" %}#}
{#                {% trans "Sign In" %}#}
{#            {% endelement %}#}
{#        {% endslot %}#}
{#    {% endelement %}#}
{#    {% if SOCIALACCOUNT_ENABLED %}#}
{#        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}#}
{#    {% endif %}#}
{#{% endblock content %}#}
