{% extends 'base.html' %}
{% load i18n %}
{% load allauth account %}

{% block content %}

    <div class="heading">
        <h1 class="title">Change Password</h1>
    </div>

    <div class="menu">
        {% url 'password_change' as change_password %}
        {% element form form=form method="post" action=change_password %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <button type="submit" class="btn btn-primary">Change Password</button>
        {% endslot %}
    {% endelement %}
        <a href="{% url 'password_reset' %}">reset</a>
    </div>

{% endblock %}
