{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}
{% block head_title %}
    {% trans "Password Reset Done" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset Done" %}
    {% endelement %}
    <p>
        {% trans "Your password has been reset. Your new temporary password is:" %}
        <strong>{{ temporary_password }}</strong>
    </p>
    <p>
        {% trans "Please log in using this temporary password and change it immediately." %}
    </p>
    <a href="{% url 'account_login' %}">{% trans "Back to login" %}</a>
{% endblock content %}


{#{% extends "account/base_entrance.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% load account %}#}
{#{% block head_title %}#}
{#    {% trans "Password Reset" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Password Reset" %}#}
{#    {% endelement %}#}
{#    {% if user.is_authenticated %}#}
{#        {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}
{#    <p>#}
{#        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise#}
{#            contact us if you do not receive it in a few minutes.{% endblocktrans %}#}
{#    </p>#}
{#{% endblock content %}#}
