{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block content %}

    {#heading#}
    <div class="heading">
        {#title#}
        <h1 class="title">Sign Up</h1>
    </div>

    <div class="menu">
        <p>
            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                .{% endblocktrans %}
        </p>

        {#    code went here#}
        {% url 'account_signup' as signup_url %}
        {% element form form=form method="post" action=signup_url %}
        {% endelement %}

    </div>

{% endblock %}
