{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block content %}

    {#heading#}
    <div class="heading">
        {#title#}
        <h1 class="title">Sign Up</h1>
    </div>

    <div class="menu">
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign In.</a>{% endblocktrans %}

        {% url 'account_signup' as signup_url %}
        {% element form form=form method="post" action=signup_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"/>
                {% endif %}
            {% endslot %}
            {% slot actions %}
                <button type="submit" class="btn btn-primary">Register</button>
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>

{% endblock %}
