{% extends "base.html" %}
{% load static %}
{% block content %}
    {#    heading#}
    <div class="heading">
        <h1 class="title">Welcome to {{ name | title }}</h1>
    </div>

    {% if meals == "Not served" %}
        <div class="container">
            <div class="not-found">
                <div class="image">
                    <img
                            src="{% static 'images/home/not_found.jpg' %}"
                            alt="carousel not working"
                    />
                </div>
                <p>
                    We currently have no specials running, but you can enjoy the view in the
                    meantime
                </p>
            </div>
        </div>
    {% else %}
        {#carousel#}
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for meal in meals %}
                    {% if forloop.first %}
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="{{ forloop.counter0 }}" class="active"
                                aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                    {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="{{ forloop.counter0 }}"
                                aria-label="Slide {{ forloop.counter }}"></button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for meal in meals %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                            {% include 'services/home/card.html' %}
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            {% include 'services/home/card.html' %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}
{% endblock content %}
