@media screen and (max-width: 400px) {
    /*carousel*/
    .card {
        min-height: 45em;
    }

    .modal-body form .btn {
        margin-left: 0;
    }

    /*table booking history*/
    .screen-400 {
        display: none;
    }

    .screen-399 {
        display: block;
    }
}

/*media query for tablets and larger*/
@media screen and (min-width: 768px) {
    /*header*/
    .mobile {
        display: none;
    }

    .tablet {
        display: flex;
        background-color: #b5cbb7;
    }

    .icon-links {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }

    .links {
        display: block;
        padding: 0.5em;
    }

    .links img {
        width: 5em;
        height: 5em;
        margin: 0.1em;
        padding: 0.8em;
    }

    /*main*/
    /*title*/
    .heading {
        display: flex;
        padding: 1em;
    }

    .heading .title {
        width: 30%;
        vertical-align: middle;
    }


    .meal-tabs ul {
        width: 100%;
        justify-content: space-between;
        padding: 1em;
    }

    /*carousel*/
    .carousel {
        width: 60%;
    }

    /* menu */
    .menu {
        width: 70%;
        margin: 3% 15%;
    }

    .main_menu {
        display: flex;
    }

    .menu_items {
        justify-content: space-between;
    }

    .modal-body form {
        width: 100%;
        padding: 1em;
        margin: auto;
    }

    /*forms*/
    form {
        padding: 5em;
    }

    /*table booking history*/
    .dashboard {
        display: flex;
        margin: 2em auto;
        padding: 1em;
    }

    .left-container {
        width: 30%;
        display: block;
    }

    .vouchers {
        display: block;
        width: 80%;
        background-color: #d3d3d3;
        opacity: 0.8;
        margin: auto;
        text-align: center;
        padding: 0.5em;
    }

    .right-container {
        width: 70%;
        height: auto;
        background-color: #d3d3d3;
        opacity: 0.8;
        margin: auto;
    }

    .new-booking {
        width: 100%;
        height: 2em;
    }

    .new-booking .btn {
        width: 20%;
        height: 2em;
        margin: 0.5em;
        float: right;
    }

    .booking-history-header {
        border: none;
        text-align: center;
        font-family: "Protest Revolution", sans-serif;
        font-weight: bold;
        margin: 1em;
    }

    .booking-history {
        padding: 1em;
    }
}

/*media query for laptops and larger*/
@media screen and (min-width: 1024px) {
    /*main*/
    /*carousel*/
    .carousel {
        width: 40%;
    }
    /* menu */
    .menu {
        width: 60%;
        margin: 4% 20%;
    }

    /*forms*/
    form {
        padding: 5em 10em;
    }
}
