/*media query for tablets and larger*/
@media screen and (min-width: 768px) {
    /*header*/
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }
    #icon-links {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
    .links {
        display: block;
        padding: 0.5em;
    }
    .links img {
        width: 5em;
        height: 5em;
        margin: 0.1em;
        padding: 0.8em;
    }

    /*main*/
    /*carousel*/
    .carousel-inner {
        width: 50%;
    }
    /*forms*/
    form {
        padding: 5em;
    }
}

/*media query for laptops and larger*/
@media screen and (min-width: 1024px) {
    /*main*/
    /*carousel*/
    .card {
        height: 70em;
    }
    /*forms*/
    form {
        padding: 5em 10em;
    }
}
