/*media query for tablets and larger*/
@media screen and (min-width: 768px) {
    /*header*/
    #nav button[type='button'] {
        display: none;
    }

    #icon-links {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }

    .links {
        display: block;
        padding: 0.5em;
    }

    .links img {
        width: 5em;
        height: 5em;
        margin: 0.1em;
        padding: 0.8em;
    }

    /*main*/
    /*forms*/
    form {
        padding: 5em;
    }
}

/*media query for laptops and larger*/
@media screen and (min-width: 1024px) {
    /*forms*/
    form {
        padding: 5em 10em;
    }
}
