/*general*/
h1 {
    width: 100%;
    text-align: center;
    margin: 2rem auto;
}
p {
    text-align: center;
}

/*header*/
#nav {
    display: flex;
    background-color: #B5CBB7;
}

#nav button {
    margin: 1em;
    border: none;
    background-color: transparent;
}
#icon-links {
    display: none;
    background-color: #B5CBB7;
}
#icon-links a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

#icon-links a:hover {
    color: #E7E08B;
    font-weight: bolder;
}

.links {
    display: flex;
}

.links img {
    margin: 1em;
}

.links p {
    width: 80%;
    margin: auto;
}

/*.navbar {*/
/*    background-color: #B4CAED !important;*/
/*}*/
/*.nav-link {*/
/*    display: flex;*/
/*}*/
/*.nav-link img {*/
/*    width: 4em;*/
/*    padding: 1%;*/
/*    margin: 2%;*/
/*}*/

/*.nav-link p {*/
/*    font-size: 1.5em;*/
/*    margin: auto 1em;*/
/*    vertical-align: middle;*/
/*    font-weight: bold;*/
/*}*/
/*.container-fluid {*/
/*    display: flex;*/
/*}*/
/*.navbar-brand {*/
/*    width: 20%;*/
/*}*/
/*.navbar-nav {*/
/*    width: 80%;*/
/*    justify-content: space-between;*/
/*}*/
/*.collapse .navbar-collapse .authentication {*/
/*    display: none;*/
/*}*/
/*.authentication {*/
/*    display: flex;*/
/*}*/
/*.user-message {*/
/*    width: 50%;*/
/*    margin: auto;*/
/*    text-align: center;*/
/*}*/
/*.auth-icon {*/
/*    display: flex;*/
/*    width: 50%;*/
/*}*/
/*.auth-img {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.auth-icon p {*/
/*    margin: auto;*/
/*    text-align: center;*/
/*}*/

/*main*/
/*forms*/
form {
    padding: 2em;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    width: 100%;
    border-radius: 10px;
}
