<div class="screen-400">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Party of</th>
            <th scope="col">Time Slot</th>
            <th scope="col">Booking Created</th>
            <th scope="col">Booking Updated</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for data in context.customer %}
            <tr>
                <th scope="col">{{ forloop.counter }}</th>
                <td>{{ data.seats }}</td>
                <td>{{ data.time_slots }}</td>
                <td>{{ data.created_at }}</td>
                <td>{{ data.updated_at }}</td>
                <td>
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                            data-bs-target="#deleteBackdrop">Delete
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
