{% extends 'base.html' %}
{% load static %}

{% block content %}
    {#message box#}
    <div id="alertDiv">
        {% for message in messages %}
            {% if 'success' == message.tags %}
                <div class="alert alert-success">
                    <p>{{ message }}</p>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="top">
        <div class="heading">
            <h1 class="title">Book a table</h1>
        </div>
    </div>

    <div class="dashboard">
        {#voucher and next booking display#}
        <div class="left-container">
            <div class="next-booking">
                {% include 'services/table/next_booking.html' %}
            </div>
            <div class="vouchers">
                {% if not context.customer %}
                    <h4>You have a voucher</h4>
                    <h5>First time user, you get 5% off next purchase</h5>
                    <p>Note: This voucher will be applied automatically on the next visit</p>
                {% else %}
                    <h2 class="voucher-heading">No Vouchers to display</h2>
                {% endif %}
            </div>
        </div>

        {#booking history display#}
        <div class="right-container">
            <div class="booking-history">
                <div class="new-booking">
                    <button class="btn btn-success" type="button" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">New Booking
                    </button>
                </div>
                {% if not context.customer %}
                    {#if there is no data to be displayed#}
                    <h2 class="booking-history-header">No Booking History To Display</h2>
                {% else %}
                    {#when there is data to be displayed show table#}
                    {#toggle display of screen greater than 400px#}
                    {% include 'services/table/screen_400.html' %}

                    {#toggle display of screen less than 400px#}
                    {% include 'services/table/screen_399.html' %}

                {% endif %}
            </div>
        </div>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 title" id="staticBackdropLabel">Book a table?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'book_table:create' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    {% for data in context.customer %}
        <div class="modal fade" id="updateBackdrop{{ data.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 title" id="staticBackdropLabel">Update booking?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'book_table:update' pk=data.id %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



    <!-- Delete Modal -->
    {% for data in context.customer %}
        <div class="modal fade" id="deleteBackdrop" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 title" id="staticBackdropLabel">Delete a
                            booking?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'book_table:delete' pk=data.id %}">
                            {% csrf_token %}
                            <p>Are you sure you want to delete your booking?</p>
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}