{% load static %}

<div class="authentication-icon">
    {% if user.is_authenticated %}
        <h4 class="user-message">Welcome Back {{ user | title }}</h4>
        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}"
           aria-current="page">
            <div class="auth-icon">
                <img src="{% static 'images/navbar/logout.png' %}" alt="logged out">
                <p>Logout</p>
            </div>
        </a>
    {% else %}
        <h4 class="user-message">You are not logged in</h4>
        <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}"
           aria-current="page">
            <div class="auth-icon">
                <img src="{% static 'images/navbar/login.png' %}" alt="login">
                <p>Login</p>
            </div>
        </a>
    {% endif %}
</div>