{% load static %}

<nav id="nav">
    {#    Hamburger menu button#}
    <button type="button" class="hamburger-menu" onclick="hamburgerMenu()">
        <img src="{% static 'images/navbar/Hamburger.png' %}" alt="not found">
    </button>

    {#    Page links with icon#}
    <div id="icon-links">
        <a aria-current="page" class="nav-link active" href="{% url 'home' %}">
            <div class="links">
                <img src="{% static 'images/navbar/Home.png' %}" alt="not found">
                <p>Home</p>
            </div>
        </a>
        <a class="nav-link" href="{% url 'menu' %}">
            <div class="links">
                <img src="{% static 'images/navbar/Restaurant Menu.png' %}" alt="not found">
                <p>Menu</p>
            </div>
        </a>
        <a class="nav-link" href="{% url 'table' %}">
            <div class="links">
                <img src="{% static 'images/navbar/Restaurant Table.png' %}" alt="not found">
                <p>Book Table</p>
            </div>
        </a>
        <a class="nav-link" href="{% url 'about' %}">
            <div class="links">
                <img src="{% static 'images/navbar/Info.png' %}" alt="not found">
                <p>About</p>
            </div>
        </a>
    </div>

    <div class="authentication-icon">
        {% if user.is_authenticated %}
            <h4 id="user-message">Welcome Back {{ user | title }}</h4>
            <a class="nav-link" href="">
                <div id="auth-icon">
                    <img src="{% static 'images/navbar/logout.png' %}" alt="not found">
                    <p>Logout</p>
                </div>
            </a>
        {% endif %}
    </div>
</nav>