{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="heading">
        <h1>{{ context.menu_type }}</h1>
    </div>
    <div class="menu">
        <!-- links for the different menus -->
        <ul class="main_menu">
            {% for meal in meals %}
                <li class= "menu_items">
                    <a href="{% url 'meal' meal %}">{{ meal|title }} Menu</a>
                </li>
            {% endfor %}
        </ul>
        <!-- starter menu with its title and ingredients -->
        <div class="starter">
            <h3 class="menu_title">{{ context.starter_menu.0 }}</h3>
            {% for starter in context.starter_menu.1 %}
                <h4>{{ starter.title|title }}</h4>
                <p>{{ starter.ingredients|title }}</p>
            {% endfor %}
        </div>
        <!-- main menu with the title of the item and its ingredients -->
        <div class="menu_context">
            <h3 class="menu_title">{{ context.menu_type }}</h3>
            {% for items in context.menu_items %}
                <h4>{{ items.title|title }}</h4>
                <p>{{ items.ingredients|title }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
