{% extends "base.html" %}
{% block content %}
    <div class="menu">
        <h3>{{ context.menu_type|title }}</h3>
        <ul class="main_menu">
            {% for meal in meals %}
                <li class= "menu_items">
                    <a href="">{{ meal|title }} Menu</a>
                </li>
            {% endfor %}
        </ul>
        <div class="menu_context">
            {% for items in context.menu_items %}
                <h4>{{ items.title|title }}</h4>
                <p>{{ items.ingredients|title }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
